@import "tailwindcss";

:root {
  /* Paleta de Marca */
  --color-brand: #004a99;
  --color-brand-hover: #003a7a;

  /* Paleta ÚNICA (Modo Oscuro Forzado) */
  --background-canvas: #030712; /* Fondo casi negro */
  --background-card: #0f172a;   /* Fondo gris oscuro para secciones */
  --foreground: #f9fafb;      /* Texto casi blanco */
  --muted: #9ca3af;          /* Texto gris */
}

/* ... Se fue el @media ... */

@theme inline {
  --color-background: var(--background-canvas);
  --color-card: var(--background-card);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-brand: var(--color-brand);
  --color-brand-hover: var(--color-brand-hover);
}

body {
  background: var(--background-canvas);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}